<div class="container">
  <h1>Deck 1</h1>
  <div id="answer_area">
    <% if @result %>
      <p>You good!</p>
    <% else %>
      <p></p>
    <% end %>

  </div>
  <p>Question #<%= @new_card.id %></p>
  <p><%= @new_card.question %></p>
  <form action="/results/<%= @new_card.id %>" method="post">
    <input type="hidden" name="round_id" value="<%= @current_round %>">
    <input type="hidden" name="card_id" value="<%= @new_card.id %>">
    <input type="text" name="current_answer" placeholder="Answer">
    <input type="submit" name="Submit">
  </form>
</div>
